<!--

    Copyright (c) 2021, 2024 Contributors to the Eclipse Foundation

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

-->
<style>
  #footer-text {
    text-align: center;
  }
  #footer-text a {
    color: rgba(255,255,255,.8);
    margin-left: 1.25em;
    margin-right: 1.25em;
  }
</style>
<script type="text/javascript">
  document.getElementById("footer-text").innerHTML = '<a href="https://www.eclipse.org">Eclipse Home</a>|<a href="https://www.eclipse.org/legal/privacy.php">Privacy Policy</a>|<a href="https://www.eclipse.org/legal/termsofuse.php">Terms of Use</a>|<a href="https://www.eclipse.org/legal/copyright.php">Copyright Agent</a>|<a href="https://www.eclipse.org/legal">Eclipse Legal</a>';
</script>